*.suo
*.txt
*.resources
CPUBot/obj/Debug/App.g.i.cs
CPUBot/obj/Debug/MainWindow.g.i.cs
Dependancies/DarkIrc.dll
CPUBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CPUBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CPUBot/obj/Debug/MainWindow.g.cs
CPUBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CPUBot/obj/Debug/MainWindow.baml
CPUBot/bin/Debug/CPUBot.exe
CPUBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CPUBot/Properties/Settings.settings
CPUBot/obj/Debug/CPUBot_MarkupCompile.i.cache
CPUBot/obj/Debug/CPUBot_MarkupCompile.lref
CPUBot/obj/Debug/CPUBot.pdb
CPUBot/Properties/Resources.resx
CPUBot/obj/Debug/CPUBot.exe
CPUBot/obj/Debug/CPUBot_MarkupCompile.cache
CPUBot/obj/Debug/CPUBot.csprojResolveAssemblyReference.cache
CPUBot/obj/Debug/CPUBot.csproj.GenerateResource.Cache
CPUBot/obj/Debug/App.g.cs
CPUBot/bin/Debug/CPUBot.vshost.exe.config
CPUBot/bin/Debug/DarkIrc.dll
CPUBot/bin/Debug/CPUBot.vshost.exe
CPUBot/bin/Debug/CPUBot.pdb
CPUBot.sln
CPUBot/App.xaml
CPUBot/App.config
CPUBot/App.xaml.cs
CPUBot/CPUBot.csproj
CPUBot/Properties/AssemblyInfo.cs
CPUBot/Properties/Resources.Designer.cs
CPUBot/Properties/Settings.Designer.cs
CPUBot/bin/Debug/CPUBot.exe.config
